.main {
    text-align: justify;
    padding: 10px 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
h1{
    text-align:center;
}
.left-half{
    border: 0px;
    padding: 20px;
}
.right-half{
    border:0px;
    padding:20px;
}