@font-face {
  font-family: "God of War";
  src:
    url("Sandler Trial.otf") format("woff2");
}


html {
  margin: 0;
  font-family: "God of War";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
